p{
    font-weight: 300;
}

.center-cropped {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
}

.promo-banner{
    z-index: 100; 
    position: absolute; 
    background-color: #569746;
    padding: 4px 16px;
    font-size: 10pt;
    color: white;
    margin-top: 16px;
    border-radius: 0px 20px 20px 0px;
}

.item{
    cursor: pointer;
}